{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">SA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
      </li>
    </ul>
  </div>  
</nav>
<br>

<div class="container bg-success">
  <h3>Collapsible Navbar</h3>
</div>

<div class="container">
  <div class="jumbotron">
    <h3>Sample</h3>
  </div>
</div>

<div class="container">
  <div class="row text-light text-center">
    <div class="col bg-info mr-2 p-2">
      <h4>First</h4>
    </div>
    <div class="col bg-warning ml-2 p-2">
      <h4>Second</h4>
    </div>
  </div>

  <div class="row my-2">
    <div class="col mr-2 p-2 bg-danger">
      <h4>Third</h4>
    </div>
    <div class="col mx-2 p-2 bg-success">
      <h4>Fourth</h4>
    </div>
    <div class="col ml-2 p-2 bg-secondary">
      <h4>Fifth</h4>
    </div>
  </div>

</div>

</body>
</html>


